@import "../../scss/import.scss";
.footer {
  height: 1024px;
  background: url("../../assets/images/partner_bg.png") no-repeat center center;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-attachment: fixed;
  .partner {
    display: flex;
    flex-direction: column;
    &-list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 180px 180px;
      &-item {
        border: 1px solid $primary-cl;
        margin: 0 -1px -1px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow: hidden;
        .img-partner {
          position: absolute;
          pointer-events: none;
          z-index: 4;
        }
        .img-color {
          position: absolute;
          opacity: 0;
          transition: all 1s;
          z-index: 4;
          &:hover {
            opacity: 1;
            visibility: 1;
          }
        }
        &:hover::before {
          content: "";
          background-image: conic-gradient(
            $primary-cl 20deg,
            transparent 120deg
          );

          height: 150%;
          width: 150%;
          position: absolute;
          left: -20%;
          top: -10%;
          z-index: 2;
          animation: rotate 2s infinite linear;
        }
        &:hover::after {
          content: "";
          height: 96%;
          width: 98%;
          position: absolute;
          background-color: #181818;
          z-index: 3;
          opacity: 1;
        }
      }
    }
  }
  .bottomFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      width: 160px;
      height: 160px;
      object-fit: cover;
    }
    &-link {
      display: flex;
      gap: 180px;
      align-items: center;
      &-left,
      &-right {
        display: flex;
        flex-direction: column;
        gap: 24px;
        a {
          text-decoration: none;
          font-family: "gt";
          font-size: 20px;
        }
      }
      &-left {
        a {
          color: #f5f5f5;
        }
      }
      &-right {
        a {
          color: #8b8b8b;
        }
      }
    }

    &-icon {
      display: flex;
      gap: 32px;
      align-items: center;
    }
  }
}
@keyframes rotate {
  100% {
    transform: rotate(-360deg);
  }
}
